
<div class="container">
	<p id="notice"><%= notice %></p>
	<p style="text-align: center;">
	  <%= image_tag(@jordan.picture_url, )if @jordan.picture.present? %>
	</p><br><br>
	<h2 style="text-align: center;">
	  <%= @jordan.name %>
	</h2><br><br>

	<p>
	  <%= raw @jordan.description %>
	</p>

   <div class="form-actions" style="margin-left: 400px;">
       <% if admin_signed_in? %>
			<%= link_to 'Edit', edit_jordan_path(@jordan), class: "btn btn-success" %> 
		<% end %>
		<%= link_to 'Back', jordans_path, class: "btn btn-primary" %>
	</div>
</div>
